<h1>buffer</h1>
<pre>
  result$ = this.docClicks$.pipe(
    buffer(this.buttonClicks$)
  );
</pre>
<p>Collects values from the past as an array, and emits that array only when another Observable emits. In this example, you can click anywhere on the page and then click the button and then you'll see all the x coordiantes of the clicks.</p>
<button (click)="onClick()">click</button>
<p>clicks: {{docClicks$ | async | json }}</p>
<p>result: {{result$ | async | json}}</p>

<p>Another cool pattern to use with buffer is to combine it with debounce time. This waits for something to stop happening and then takes all the values and emits them.</p>
<pre>
  this.docClicks$.pipe(
    buffer(this.docClicks$.pipe(debounceTime(500)))
  );
</pre>
<p>intermediate result: {{intermediateResult$ | async | json }}</p>
<p>result2: {{result2$ | async | json}}</p>