<h1>RxJs Operators</h1>
<button (click)="setSelection('audit')">audit</button>
<button (click)="setSelection('auditTime')">auditTime</button>
<button (click)="setSelection('buffer')">buffer</button>
<button (click)="setSelection('bufferCount')">bufferCount</button>
<button (click)="setSelection('bufferTime')">bufferTime</button>
<button (click)="setSelection('bufferToggle')">bufferToggle</button>
<button (click)="setSelection('bufferWhen')">bufferWhen</button>
<button (click)="setSelection('catchError')">catchError</button>
<button (click)="setSelection('combineLatestAll')">combineLatestAll</button>
<button (click)="setSelection('combineLatestWith')">combineLatestWith</button>
<button (click)="setSelection('concatAll')">concatAll</button>
<!-- <button (click)="setSelection('concatMap')">concatMap</button>
<button (click)="setSelection('concatWith')">concatWith</button>
<button (click)="setSelection('connect')">connect</button>
<button (click)="setSelection('count')">count</button>
<button (click)="setSelection('debounce')">debounce</button>
<button (click)="setSelection('debounceTime')">debounceTime</button>
<button (click)="setSelection('defaultIfEmpty')">defaultIfEmpty</button>
<button (click)="setSelection('delay')">delay</button>
<button (click)="setSelection('delayWhen')">delayWhen</button>
<button (click)="setSelection('dematerialize')">dematerialize</button>
<button (click)="setSelection('distinct')">distinct</button>
<button (click)="setSelection('distinctUntilChanged')">distinctUntilChanged</button>
<button (click)="setSelection('distinctUntilKeyChanged')">distinctUntilKeyChanged</button>
<button (click)="setSelection('elementAt')">elementAt</button>
<button (click)="setSelection('endWith')">endWith</button>
<button (click)="setSelection('every')">every</button>
<button (click)="setSelection('exhaustAll')">exhaustAll</button>
<button (click)="setSelection('exhaustMap')">exhaustMap</button>
<button (click)="setSelection('expand')">expand</button>
<button (click)="setSelection('filter')">filter</button>
<button (click)="setSelection('finalize')">finalize</button>
<button (click)="setSelection('find')">find</button>
<button (click)="setSelection('findIndex')">findIndex</button>
<button (click)="setSelection('first')">first</button>
<button (click)="setSelection('groupBy')">groupBy</button>
<button (click)="setSelection('ignoreElements')">ignoreElements</button>
<button (click)="setSelection('isEmpty')">isEmpty</button>
<button (click)="setSelection('last')">last</button>
<button (click)="setSelection('map')">map</button>
<button (click)="setSelection('materialize')">materialize</button>
<button (click)="setSelection('max')">max</button>
<button (click)="setSelection('merge')">merge</button>
<button (click)="setSelection('mergeAll')">mergeAll</button>
<button (click)="setSelection('mergeMap')">mergeMap</button>
<button (click)="setSelection('mergeScan')">mergeScan</button>
<button (click)="setSelection('mergeWith')">mergeWith</button>
<button (click)="setSelection('min')">min</button>
<button (click)="setSelection('observeOn')">observeOn</button>
<button (click)="setSelection('pairwise')">pairwise</button>
<button (click)="setSelection('raceWith')">raceWith</button>
<button (click)="setSelection('reduce')">reduce</button>
<button (click)="setSelection('repeat')">repeat</button>
<button (click)="setSelection('retry')">retry</button>
<button (click)="setSelection('sample')">sample</button>
<button (click)="setSelection('sampleTime')">sampleTime</button>
<button (click)="setSelection('scan')">scan</button>
<button (click)="setSelection('sequenceEqual')">sequenceEqual</button>
<button (click)="setSelection('share')">share</button>
<button (click)="setSelection('shareReplay')">shareReplay</button>
<button (click)="setSelection('single')">single</button>
<button (click)="setSelection('skip')">skip</button>
<button (click)="setSelection('skipLast')">skipLast</button>
<button (click)="setSelection('skipUntil')">skipUntil</button>
<button (click)="setSelection('skipWhile')">skipWhile</button>
<button (click)="setSelection('startWith')">startWith</button>
<button (click)="setSelection('subscribeOn')">subscribeOn</button>
<button (click)="setSelection('switchAll')">switchAll</button>
<button (click)="setSelection('switchMap')">switchMap</button>
<button (click)="setSelection('switchScan')">switchScan</button>
<button (click)="setSelection('take')">take</button>
<button (click)="setSelection('takeLast')">takeLast</button>
<button (click)="setSelection('takeUntil')">takeUntil</button>
<button (click)="setSelection('takeWhile')">takeWhile</button>
<button (click)="setSelection('tap')">tap</button>
<button (click)="setSelection('throttle')">throttle</button>
<button (click)="setSelection('throttleTime')">throttleTime</button>
<button (click)="setSelection('throwIfEmpty')">throwIfEmpty</button>
<button (click)="setSelection('timeInterval')">timeInterval</button>
<button (click)="setSelection('timeout')">timeout</button>
<button (click)="setSelection('timestamp')">timestamp</button>
<button (click)="setSelection('toArray')">toArray</button>
<button (click)="setSelection('window')">window</button>
<button (click)="setSelection('windowCount')">windowCount</button>
<button (click)="setSelection('windowTime')">windowTime</button>
<button (click)="setSelection('windowToggle')">windowToggle</button>
<button (click)="setSelection('windowWhen')">windowWhen</button>
<button (click)="setSelection('withLatestFrom')">withLatestFrom</button>
<button (click)="setSelection('zipAll')">zipAll</button>
<button (click)="setSelection('zipWith')">zipWith</button> -->

<ng-container *ngIf="{selection: currentSelection$ | async} as pageData">
  <app-audit *ngIf="pageData.selection === 'audit'"></app-audit>
  <app-audit-time *ngIf="pageData.selection === 'auditTime'"></app-audit-time>
  <app-buffer *ngIf="pageData.selection === 'buffer'"></app-buffer>
  <app-buffer-count *ngIf="pageData.selection === 'bufferCount'"></app-buffer-count>
  <app-buffer-time *ngIf="pageData.selection === 'bufferTime'"></app-buffer-time>
  <app-buffer-toggle *ngIf="pageData.selection === 'bufferToggle'"></app-buffer-toggle>
  <app-buffer-when *ngIf="pageData.selection === 'bufferWhen'"></app-buffer-when>
  <app-catch-error *ngIf="pageData.selection === 'catchError'"></app-catch-error>
  <app-combine-latest-all *ngIf="pageData.selection === 'combineLatestAll'"></app-combine-latest-all>
  <app-combine-latest-with *ngIf="pageData.selection === 'combineLatestWith'"></app-combine-latest-with>
  <app-concat-all *ngIf="pageData.selection === 'concatAll'"></app-concat-all>
</ng-container>